.new {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blog_box {
  padding-top: 10px;
  padding-left: 2px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.navbar {
  padding: 10px;
  background-color: lightgrey;
}

html {
  font-family: sans-serif;
}
